extends:
  - stylelint-config-standard-scss
  - stylelint-config-idiomatic-order
rules:
  string-quotes: single
  color-function-notation: legacy
  font-family-name-quotes: null
  function-no-unknown: null
  no-descending-specificity: null
  selector-class-pattern: null
